.BlogCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.BlogCard__post {
    margin: 2rem;
    padding: 1rem;
    list-style: none;
    border: 0.2rem solid rgba(0, 0, 0, 0.166);
}

.BlogCard__card {
    display: none;
}