@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #91A98B;
    padding: 1rem;
}

.Navbar__title {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    padding-left: 1rem;
    color: #FCEEDF;
}

.Navbar__tags {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 0.2rem;
    color: #FCEEDF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    user-select: none;
}

.Navbar__tags > h3 {
    margin-right: 0.5rem;
    cursor: pointer;
}

.Navbar__tags > h3:hover {
    color: #5C2921;
}
